{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    email: {{ user.email }}<br/>
    first_name: {{ user.first_name }}<br/>
    last_name: {{ user.last_name }}<br/>
    irods_username: {{user.irods_username}}
<br/>
<a href={% url 'listDatasets' %}>/dataset endpoint</a><br/>
<a href={% url 'irods' %}>Check irods files</a><br/>
<a href={% url 'getToken'  %}>GetToken</a><br/>
<a href={% url 'validateToken'  %}>ValidateToken</a><br/>
<br/><br/>
See also <a href="https://openproject.it4i.cz/projects/lexis-data-system/wiki/ddi-meta-data-organisation">WP3 ddi-meta-data-organisation</a><br/>
<a href="https://code.it4i.cz/lexis/wp8/wp8-architecture/blob/master/data-service/data-service-swagger-definition.yaml">Swagger</a><br/>
<a href="https://code.it4i.cz/lexis/wp8/dataset-management-interface/blob/master/data-service-swagger-definition.yaml">New Swagger with search</a><br/>
<a href="https://www.urlencoder.org/">Url encoder</a><br/>
<a href="https://irods-api.lexis.lrz.de/demo/dataset/doi%3A%2F%2Flexis-datasets%2Fwp5%2Fdatasetpublicx1">Example doi query (doi://lexis-datasets/wp5/datasetpublicx1)</a><br/>
    {% endif %}
{% endblock %}
